{% extends "base.html" %}

{% block content %}
<div class="form-style-10">
    <h1>Add new book!<span>Fill the fields and add new books to the DB!</span></h1>
    <form method="POST" action="{{ url_for('get_books_form') }}">
        {{ form.hidden_tag() }}
        <div class="section"><span>1</span>Book title</div>
        <div class="inner-wrap">
            {{ form.title.label }} {{ form.title() }}
            {% if form.title.errors %}
            <ul class="errors">
                {% for error in form.title.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="section"><span>2</span>Author full name</div>
        <div class="inner-wrap">
            {{ form.author.label }} {{ form.author() }}
            {% if form.author.errors %}
            <ul class="errors">
                {% for error in form.author.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="button-section">
            {{ form.submit() }}
        </div>
    </form>
</div>
{% endblock %}